In [1]:
%load_ext sql
%sql sqlite:///PS2.db

'Connected: @PS2.db'

Problem Set #2
=======

### Deliverables:

Submit your answers using the `submission_template.txt` file that is posted on the class website. Follow the instructions on the file! Upload the file at Canvas (under PS2).


### Instructions / Notes:

**_Read these carefully_**

* You **may** create new IPython notebook cells to use for e.g. testing, debugging, exploring, etc.- this is encouraged in fact!- **just make sure that your final answer for each question is _in its own cell_ and _clearly indicated_**
* When you see `In [*]:` to the left of the cell you are executing, this means that the code / query is _running_.
    * **If the cell is hanging- i.e. running for too long: To restart the SQL connection, you must restart the entire python kernel**
    * To restart kernel using the menu bar: "Kernel >> Restart >> Clear all outputs & restart"), then re-execute the sql connection cell at top
    * You will also need to restart the connection if you want to load a different version of the database file
* Remember:
    * `%sql [SQL]` is for _single line_ SQL queries
    * `%%sql [SQL]` is for _multi line_ SQL queries
* _Have fun!_

Problem 1: Verifying Functional Dependencies [24 points]
---------

For this part, you will need to provide a _single_ SQL query which will check whether a certain condition holds on the **hospital** table in the provided database:

In [2]:
%sql select * from hospital limit 2;

 * sqlite:///PS2.db
Done.

[(10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-CARD-2'),
 (10018, 'CALLAHAN EYE FOUNDATION HOSPITAL', '1720 UNIVERSITY BLVD', 'BIRMINGHAM', 'AL', 35233, 'JEFFERSON', 2053258100, 'Acute Care Hospitals', 'Voluntary non-profit - Private', 'Yes', 'Surgical Infection Prevention', 'SCIP-INF-1')]

In [3]:
%sql PRAGMA table_info(hospital)

 * sqlite:///PS2.db
Done.

[(0, 'provider', 'integer', 0, None, 0),
 (1, 'hospital', 'varchar(100)', 0, None, 0),
 (2, 'address', 'varchar(100)', 0, None, 0),
 (3, 'city', 'varchar(100)', 0, None, 0),
 (4, 'state', 'varchar(10)', 0, None, 0),
 (5, 'zip', 'integer', 0, None, 0),
 (6, 'county', 'varchar(100)', 0, None, 0),
 (7, 'phone_number', 'integer', 0, None, 0),
 (8, 'hospital_type', 'varchar(200)', 0, None, 0),
 (9, 'hospital_owner', 'varchar(400)', 0, None, 0),
 (10, 'emergency_service', 'varchar(1000)', 0, None, 0),
 (11, 'condition', 'text', 0, None, 0),
 (12, 'measure_code', 'text', 0, None, 0)]

You need to evaluate any requested conditions in the following way: **your query should return an empty result if and only if the condition holds on the instance.**  If the condition _doesn't hold_, your query should return something non-empty, but it doesn't matter what this is.

Note our language here: the conditions that we specify cannot be proved to hold **in general** without knowing the externally-defined functional dependencies; so what we mean is, _check whether they **are not violated** for the provided instance_.

You may assume that there are no `NULL` values in the tables.

### Part (a)  [14 points]

Is $\{provider\}$ a **superkey** for relation $Hospital$?

In [12]:
%%sql 
WITH X AS 
(SELECT COUNT(*) AS C
 FROM hospital AS H1, hospital AS H2
 WHERE H1.provider = H2.provider AND ((NOT(H1.hospital = H2.hospital)) OR (NOT(H1.address = H2.address))
                                                                      OR (NOT(H1.city = H2.city))
                                                                      OR (NOT(H1.state = H2.state))
                                                                      OR (NOT(H1.zip = H2.zip))
                                                                      OR (NOT(H1.county = H2.county))
                                                                      OR (NOT(H1.phone_number = H2.phone_number))
                                                                      OR (NOT(H1.hospital_type = H2.hospital_type))
                                                                      OR (NOT(H1.hospital_owner = H2.hospital_owner))
                                                                      OR (NOT(H1.emergency_service = H2.emergency_service))
                                                                      OR (NOT(H1.condition = H2.condition))
                                                                      OR (NOT(H1.measure_code = H2.measure_code))))
SELECT * FROM X WHERE C>0;

 * sqlite:///PS2.db
Done.

[(23292,)]

### Part (b) [10 points]

Does $\{Zip\} \rightarrow \{City, State\}$ hold for relation $Hospital$?

In [14]:
%%sql 
WITH X AS 
(SELECT COUNT(*) AS C
 FROM hospital AS H1, hospital AS H2
 WHERE H1.zip = H2.zip AND ((NOT(H1.city = H2.city)) OR (NOT(H1.state = H2.state))))
SELECT * FROM X WHERE C>0;

 * sqlite:///PS2.db
Done.

[]

Problem 2: Superkeys & Decompositions [40 points]
---------

Consider a relation $S(A,B,C,D,E,F)$ with the following functional dependencies:

* $\{A\} \rightarrow \{D\}$
* $\{A\} \rightarrow \{E\}$
* $\{D\} \rightarrow \{C\}$
* $\{D\} \rightarrow \{F\}$

In each part of this problem, we will examine different properties the provided schema.

To answer **yes**, provide python code that assigns the variable ```answer``` to ```True``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = True
explanation = "All keys are superkeys."
```

To answer **no**, provide python code that assigns the variable ```answer``` to ```False``` and assigns ```explanation``` to be a python string which contains a (short!) explanation of why.  For example:

```python
answer = False
explanation = "D is not a superkey because its closure is {D,C,F}."
```

### Part (a) [8 points]

Is it correct that ${A,B}$ is a superkey?

### Part (b) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is lossless-join?

### Part (c) [8 points]

Is it correct that the decomposition $ABC$, $CDE$, $EFA$ is dependency preserving?

### Part (d) [8 points]

Is the functional dependency $\{A\} \rightarrow \{C,F\}$ logically implied by FDs present in the relation?

### Part (e) [8 points]

Is it correct that relation $S$ is in BCNF?

Problem 3: Relational Algebra [36 points]
---------

Consider the following relational schema:
*  `JournalArticle(articleID, title, journal, volume, year, month)`
*  `ConferenceArticle(articleID, title, conference, year, location)`
*  `Person(name, affiliation)`
*  `Author(name, articleID)`

Express the following queries in the extended Relational Algebra (you can also use the aggregation operator if necessary). To write the RA expression, use the LaTex mode that ipython notebook provides. For example:

$$\pi_{name}(\sigma_{affiliation="UW-Madison"}(Person))$$

### Part (a) [9 points]

Output the names of everyone who is affiliated with `UW-Madison` and who has submitted during 2018 at least one journal article, but no conference articles:

### Part (b) [9 points]

Output the names of the people who coauthored an article (in a journal or conference) with `John Doe`. Be careful: a person cannot be coauthor with herself!

### Part (c) [9 points]

Count how many journal *or* conference articles were published in 2018 by `John Doe`.

### Part (d) [9 points]

Output the names of everyone who published at least as many conference as journal papers during every year in the span from 2000 to 2018 (including 2000 and 2018).